
@{
    ViewBag.Title = "LayoutCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="cartegory">
    <div class="container">
        <div class="cartegory-top row">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="cartegory-left">
                <ul>
                    @*Action partialview*@
                    @Html.Action("RenderCategory","Category")
                </ul>
            </div>
            <div class="cartegory-right">
                <div class="cartegory-right-top-item">
                    <p> LAPTOP MỚI</p>
                    @*<select name="" id="sapxep">
                        <option value="">Sắp xếp</option>
                        <option value="">Giá cao đến thấp</option>
                        <option value="">Giá thấp đến cao</option>
                    </select>*@
                </div>
                <div class="cartegory-right-content row">
                    @RenderBody()
                </div>
             </div>
        </div>
    </div>
</section>

<style>
    .cartegory-right {
        width: 80%;
        padding-right: 80px;
        padding-top:8px;
    }
    .cartegory-right-top-item{
        display:flex;
        justify-content:space-between;
    }
    #sapxep{
        width:30%;
    }
    .cartegory-right-content-item {
        width: calc(25%);
        padding: 16px 6px;
    }
    .cartegory-right-content {
        justify-content:left;
    }
    .cartegory-right-top-item select{
        padding:6px 0;
    }
</style>